body {
    font-family: sans-serif;
    background-color: #D9D9D9;
}

header {
    justify-content: space-between;
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
    background-color: #F25C69;
    display: flex;
}

.button {
    background-color: #4C5459;
    color: white;
    text-decoration: none;
    margin-bottom: auto;
    padding: 15px 20px 15px 20px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid #4C5459;
    border-bottom: 5px solid #4C5459;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: #4C5459;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #4C5459;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 15pxpx;
}

h2 {
    font-size: 24px;
    text-align: center;
    color: #4C5459;
    margin: 0px auto 20px auto;
}

p {
    font-size: 24px;
    text-align: center;
    color: #4C5459;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
    justify-content: left;
}

article {
    background-color: white;
    padding: 20px 45px 25px 45px;
    width: 350px;
    margin: 15px 60px 40px 30px;
}

.article-but {
    text-decoration: none;
    background-color: #F27E88;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

footer {
    background-color: #F25C69;
    padding: 45px 35px 45px 35px;
    display: flex;
}

footer a {
    margin-right: 10px;
}

footer p {
    font-size: 24px;
    text-align: left;
    color: white;
}

footer img {
    vertical-align: middle;
}
